@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* font style */

.fira-sans-font {
  font-family: "Fira Sans", serif;
}


/* color share */

.btn-color {
  background-color: #006A50;
  color: white;
}


/* share hover btn */

.btn-magic:hover {
  background-color: rgba(241, 7, 7, 0.815);
  color: white;
  border: none;
}


/* Body */
.body-style {
  margin: 0 30px;
}


/* nav style */


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;
}

.nav-title {
  font-size: 25px;
  font-weight: bold;
}


.nav-btn {
  color: #006A50;
  border: 1px solid #006A50;
  width: 66px;
  height: 30px;
  padding: 5px;
  border-radius: 4px;
}



/* banner section style */

.banner {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center;
  background-color: #C6E4D6;
  border-radius: 17px;
  padding: 50px 0px;
}



.banner-image {
  width: 350px;
}


.banner-name {
  color: #0e0e0e7a;
}


.banner-title {
  font-size: 40px;
  font-weight: bold;
}


.banner-btn {
  border: none;
  padding: 13px 25px;
  border-radius: 6px;
  font-weight: 700;
}


/* main section style */

main{
  margin-top: 80px;
  margin-bottom: 80px;
}

/* The Vision of Future section style */

.future-title{
  font-size: 28px;
  font-weight: bold;
} 

.future-description{
  font-size: 14px;
  color: #0e0e0e7a;
}


.images{
  width: 40px;
}


.card{
  max-width: 250px;
  padding: 30px;
  border-radius: 15px;
}

.card-1{
  background-color: #548ff531;
}
.card-2{
  background-color: #C6E4D6;
}
.card-3{
  background-color: #ffc43934;
}


.card-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  margin-top: 30px;
}


.card-btn-1{
background-color: #5490F5;
color: white;
border: none;
width: 90px;
height: 30px;
padding: 5px;
border-radius: 6px;
font-weight: 600;
}
.card-btn-2{
  background-color: #09A15C;
color: white;
border: none;
width: 90px;
height: 30px;
padding: 5px;
border-radius: 6px;
font-weight: 600;

}
.card-btn-3{
  background-color: #FFC239;
color: white;
border: none;
width: 90px;
height: 30px;
padding: 5px;
border-radius: 6px;
font-weight: 600;

}


.younus-story{
  color: rgba(0, 0, 0, 0.671);
}


.story-section{
  margin-top: 40px;
  border: 1px solid #0e0e0e13;
  border-radius: 13px;
  padding: 35px 20px;
  box-shadow: 0px 6px 50px 0 rgb(238, 236, 236);
  background-image: url('../assets/quote-bg.png');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 25px 20px;
  
  

}



/* Recent news style */

.news-container{
  margin-top: 80px;
}


.news-cards{
  margin-top: 40px;
}

.news-image{
  border-radius: 20px;
  width: 350px;
}


.news-card{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
  box-shadow: 0px 6px 50px 0 rgb(238, 236, 236);
  padding: 40px;
  border-radius: 20px;
  margin-top: 30px;
}

.news-title{
  font-size: 23px;
}


.news-sub-image{
  width: 100px;
}


.news-btn{
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 6px;
}